WEATHERFLOW_TOKEN=your_token_here
STATION_ID=your_station_id
DEVICE_ID=your_tempest_device_id
TZ=America/Chicago
DB_PATH=/home/pi/pi-tempest/data/tempest.db
UDP_PORT=50222
API_HOST=127.0.0.1
API_PORT=8000
